USE [master]
GO
/****** Object:  Database [TeddySneaker]    Script Date: 11/28/2024 2:32:57 AM ******/
CREATE DATABASE [TeddySneaker]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TeddySneaker', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TeddySneaker.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TeddySneaker_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TeddySneaker_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TeddySneaker].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TeddySneaker]
GO
/****** Object:  Table [dbo].[brand]    Script Date: 11/28/2024 2:32:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brand](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime] NULL,
	[description] [nvarchar](255) NULL,
	[modified_at] [datetime] NULL,
	[name] [nvarchar](255) NOT NULL,
	[status] [bit] NULL,
	[thumbnail] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 11/28/2024 2:32:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime] NULL,
	[modified_at] [datetime] NULL,
	[name] [nvarchar](255) NOT NULL,
	[orders] [int] NULL,
	[slug] [varchar](255) NOT NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comment]    Script Date: 11/28/2024 2:32:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[post_id] [int] NULL,
	[product_id] [varchar](255) NULL,
	[user_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[images]    Script Date: 11/28/2024 2:32:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[images](
	[id] [varchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[link] [varchar](255) NULL,
	[name] [varchar](255) NULL,
	[size] [bigint] NULL,
	[type] [varchar](255) NULL,
	[created_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 11/28/2024 2:32:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime] NULL,
	[modified_at] [datetime] NULL,
	[note] [nvarchar](255) NULL,
	[price] [bigint] NULL,
	[promotion] [varchar](max) NULL,
	[quantity] [int] NULL,
	[receiver_address] [nvarchar](255) NULL,
	[receiver_name] [nvarchar](255) NULL,
	[receiver_phone] [nvarchar](255) NULL,
	[size] [int] NULL,
	[status] [int] NULL,
	[total_price] [bigint] NULL,
	[buyer] [int] NULL,
	[created_by] [int] NULL,
	[modified_by] [int] NULL,
	[product_id] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[post]    Script Date: 11/28/2024 2:32:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[post](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[description] [nvarchar](max) NULL,
	[modified_at] [datetime] NULL,
	[published_at] [datetime] NULL,
	[slug] [varchar](max) NULL,
	[status] [int] NULL,
	[thumbnail] [nvarchar](255) NULL,
	[title] [nvarchar](255) NOT NULL,
	[created_by] [int] NULL,
	[modified_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 11/28/2024 2:32:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[id] [varchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[description] [nvarchar](max) NULL,
	[image_feedback] [varchar](max) NULL,
	[images] [varchar](max) NULL,
	[modified_at] [datetime] NULL,
	[name] [nvarchar](255) NOT NULL,
	[price] [bigint] NULL,
	[sale_price] [bigint] NULL,
	[slug] [varchar](255) NOT NULL,
	[status] [bit] NULL,
	[total_sold] [bigint] NULL,
	[product_view] [int] NULL,
	[brand_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_category]    Script Date: 11/28/2024 2:32:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_category](
	[product_id] [varchar](255) NULL,
	[category_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_size]    Script Date: 11/28/2024 2:32:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_size](
	[product_id] [varchar](255) NOT NULL,
	[size] [int] NOT NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC,
	[size] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promotion]    Script Date: 11/28/2024 2:32:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promotion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[coupon_code] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[discount_type] [int] NULL,
	[discount_value] [bigint] NULL,
	[expired_at] [datetime] NULL,
	[is_active] [bit] NULL,
	[is_public] [bit] NULL,
	[maximum_discount_value] [bigint] NULL,
	[name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[statistic]    Script Date: 11/28/2024 2:32:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[statistic](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime] NULL,
	[profit] [bigint] NULL,
	[quantity] [int] NULL,
	[sales] [bigint] NULL,
	[order_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 11/28/2024 2:32:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[address] [nvarchar](255) NULL,
	[avatar] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[email] [varchar](200) NOT NULL,
	[full_name] [nvarchar](255) NULL,
	[modified_at] [datetime] NULL,
	[password] [varchar](255) NOT NULL,
	[phone] [varchar](255) NULL,
	[roles] [varchar](255) NOT NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[brand] ON 

INSERT [dbo].[brand] ([id], [created_at], [description], [modified_at], [name], [status], [thumbnail]) VALUES (1, CAST(N'2024-11-10T23:36:23.307' AS DateTime), NULL, NULL, N'Adidas', 1, N'/media/static/52387f54-881d-458e-97f9-dcf530e3dfd9.png')
INSERT [dbo].[brand] ([id], [created_at], [description], [modified_at], [name], [status], [thumbnail]) VALUES (2, CAST(N'2024-11-10T23:36:45.697' AS DateTime), NULL, NULL, N'Converse', 1, N'/media/static/6d33b39e-3471-460c-8572-e0902b2406d5.png')
INSERT [dbo].[brand] ([id], [created_at], [description], [modified_at], [name], [status], [thumbnail]) VALUES (3, CAST(N'2024-11-10T23:41:32.847' AS DateTime), NULL, NULL, N'Li-Ning', 1, N'/media/static/1458d5a0-5c09-4e89-9d9b-d795b9ffb062.jpg')
SET IDENTITY_INSERT [dbo].[brand] OFF
GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([id], [created_at], [modified_at], [name], [orders], [slug], [status]) VALUES (1, CAST(N'2024-11-10T23:38:20.263' AS DateTime), NULL, N'Giày chạy bộ', 0, N'giay-chay-bo', 1)
INSERT [dbo].[category] ([id], [created_at], [modified_at], [name], [orders], [slug], [status]) VALUES (2, CAST(N'2024-11-10T23:39:43.483' AS DateTime), NULL, N'Giày thời trang', 0, N'giay-thoi-trang', 1)
INSERT [dbo].[category] ([id], [created_at], [modified_at], [name], [orders], [slug], [status]) VALUES (3, CAST(N'2024-11-10T23:40:09.237' AS DateTime), NULL, N'Giày bóng rổ', 0, N'giay-bong-ro', 1)
SET IDENTITY_INSERT [dbo].[category] OFF
GO
INSERT [dbo].[images] ([id], [created_at], [link], [name], [size], [type], [created_by]) VALUES (N'0ef8c29c-ebfb-487f-90cb-53986982624f', CAST(N'2024-11-18T15:38:02.570' AS DateTime), N'/media/static/0ef8c29c-ebfb-487f-90cb-53986982624f.jpg', N'file', 66538, N'jpg', 2)
INSERT [dbo].[images] ([id], [created_at], [link], [name], [size], [type], [created_by]) VALUES (N'110e76d4-14ff-494f-8a1a-a425701e02e1', CAST(N'2024-11-11T00:00:00.280' AS DateTime), N'/media/static/110e76d4-14ff-494f-8a1a-a425701e02e1.jpg', N'file', 124137, N'jpg', 1)
INSERT [dbo].[images] ([id], [created_at], [link], [name], [size], [type], [created_by]) VALUES (N'1458d5a0-5c09-4e89-9d9b-d795b9ffb062', CAST(N'2024-11-10T23:41:28.800' AS DateTime), N'/media/static/1458d5a0-5c09-4e89-9d9b-d795b9ffb062.jpg', N'file', 65008, N'jpg', 1)
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([id], [created_at], [modified_at], [note], [price], [promotion], [quantity], [receiver_address], [receiver_name], [receiver_phone], [size], [status], [total_price], [buyer], [created_by], [modified_by], [product_id]) VALUES (1, CAST(N'2024-11-11T00:05:10.080' AS DateTime), CAST(N'2024-11-16T22:17:19.760' AS DateTime), N'asdasd', 1500000, NULL, 1, N'asdasd', N'Đức', N'0345239051', 40, 4, 1400000, 1, 1, 2, N'9655JA')
INSERT [dbo].[orders] ([id], [created_at], [modified_at], [note], [price], [promotion], [quantity], [receiver_address], [receiver_name], [receiver_phone], [size], [status], [total_price], [buyer], [created_by], [modified_by], [product_id]) VALUES (2, CAST(N'2024-11-11T23:55:31.463' AS DateTime), NULL, N'asdasdsa', 1500000, NULL, 1, N'asdasd', N'Đức', N'0345239051', 37, 5, 1400000, 1, 1, NULL, N'9655JA')
INSERT [dbo].[orders] ([id], [created_at], [modified_at], [note], [price], [promotion], [quantity], [receiver_address], [receiver_name], [receiver_phone], [size], [status], [total_price], [buyer], [created_by], [modified_by], [product_id]) VALUES (3, CAST(N'2024-11-12T00:00:09.587' AS DateTime), NULL, N'jhgjhg', 1500000, NULL, 1, N'jkkjh', N'Đức', N'0345239051', 38, 5, 1400000, 1, 1, NULL, N'9655JA')
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[post] ON 

INSERT [dbo].[post] ([id], [content], [created_at], [description], [modified_at], [published_at], [slug], [status], [thumbnail], [title], [created_by], [modified_by]) VALUES (1, N'<p>Đây là bài viết test</p>', CAST(N'2024-11-12T23:58:44.397' AS DateTime), N'<p>Đây là bài viết test</p>', NULL, CAST(N'2024-11-12T23:58:44.397' AS DateTime), N'bai-viet-test', 1, N'/media/static/355f4498-0e77-4a09-8006-ea37a34763df.jpg', N'Bài viết test', 1, NULL)
INSERT [dbo].[post] ([id], [content], [created_at], [description], [modified_at], [published_at], [slug], [status], [thumbnail], [title], [created_by], [modified_by]) VALUES (4, N'<p>san pham moi</p>', CAST(N'2024-11-19T22:54:22.090' AS DateTime), N'<p><br></p>', CAST(N'2024-11-19T22:55:31.023' AS DateTime), CAST(N'2024-11-19T22:54:22.090' AS DateTime), N'adidas', 1, N'/media/static/ee1c78b0-f9c3-4f4f-855e-af73e6daf900.jpg', N'adidas', 2, 2)
SET IDENTITY_INSERT [dbo].[post] OFF
GO
INSERT [dbo].[product_category] ([product_id], [category_id]) VALUES (N'KeaYXM', 3)
INSERT [dbo].[product_category] ([product_id], [category_id]) VALUES (N'9655JA', 1)
INSERT [dbo].[product_category] ([product_id], [category_id]) VALUES (N'947mfL', 2)
GO
INSERT [dbo].[product_size] ([product_id], [size], [quantity]) VALUES (N'5UIkXm', 35, 1)
INSERT [dbo].[product_size] ([product_id], [size], [quantity]) VALUES (N'5UIkXm', 36, 3)
INSERT [dbo].[product_size] ([product_id], [size], [quantity]) VALUES (N'5UIkXm', 37, 2)
GO
SET IDENTITY_INSERT [dbo].[promotion] ON 

INSERT [dbo].[promotion] ([id], [coupon_code], [created_at], [discount_type], [discount_value], [expired_at], [is_active], [is_public], [maximum_discount_value], [name]) VALUES (9, N'KM01', CAST(N'2024-11-19T22:51:51.900' AS DateTime), 1, 12, CAST(N'2024-11-28T07:00:00.000' AS DateTime), 1, 1, 30000, N'Quoc te dan ong')
SET IDENTITY_INSERT [dbo].[promotion] OFF
GO
SET IDENTITY_INSERT [dbo].[statistic] ON 

INSERT [dbo].[statistic] ([id], [created_at], [profit], [quantity], [sales], [order_id]) VALUES (1, CAST(N'2024-11-12T23:52:42.827' AS DateTime), 400000, 1, 1400000, 1)
INSERT [dbo].[statistic] ([id], [created_at], [profit], [quantity], [sales], [order_id]) VALUES (2, CAST(N'2024-11-16T22:19:38.997' AS DateTime), 500000, 1, 1500000, 6)
INSERT [dbo].[statistic] ([id], [created_at], [profit], [quantity], [sales], [order_id]) VALUES (3, CAST(N'2024-11-18T15:54:10.470' AS DateTime), 1000000, 2, 3000000, 5)
SET IDENTITY_INSERT [dbo].[statistic] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [address], [avatar], [created_at], [email], [full_name], [modified_at], [password], [phone], [roles], [status]) VALUES (1, N'sádasdasd', NULL, CAST(N'2024-11-10T15:17:24.117' AS DateTime), N'ducphamminh1206@gmail.com', N'P.Đức', NULL, N'$2a$12$R03KAwFYiPcSdJgDdKo4L.LEBziDl79h7IHgXceZ4tZl/u.kpdZry', N'0345239051', N'["ADMIN"]', 1)
INSERT [dbo].[users] ([id], [address], [avatar], [created_at], [email], [full_name], [modified_at], [password], [phone], [roles], [status]) VALUES (2, N'sasdasd', NULL, CAST(N'2024-11-11T00:03:14.153' AS DateTime), N'admin@gmail.com', N'Admin', NULL, N'$2a$12$R03KAwFYiPcSdJgDdKo4L.LEBziDl79h7IHgXceZ4tZl/u.kpdZry', N'0345678912', N'["ADMIN"]', 1)
INSERT [dbo].[users] ([id], [address], [avatar], [created_at], [email], [full_name], [modified_at], [password], [phone], [roles], [status]) VALUES (5, NULL, NULL, CAST(N'2024-11-16T22:08:32.680' AS DateTime), N'ducpmph34277@fpt.edu.vn', N'Đức', NULL, N'$2a$12$Zw6nZqf5RAEz9kQzaHGlCuyGqx9ZkyoHZAmUuHuRt5d.F7GIfA6py', N'0345678912', N'["USER"]', 1)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__images__A2692381A2DAD3EB]    Script Date: 11/28/2024 2:32:57 AM ******/
ALTER TABLE [dbo].[images] ADD UNIQUE NONCLUSTERED 
(
	[link] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__promotio__ADE5CBB7638D544B]    Script Date: 11/28/2024 2:32:57 AM ******/
ALTER TABLE [dbo].[promotion] ADD UNIQUE NONCLUSTERED 
(
	[coupon_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[post] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD FOREIGN KEY([post_id])
REFERENCES [dbo].[post] ([id])
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[images]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([buyer])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([modified_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[post]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[post]  WITH CHECK ADD FOREIGN KEY([modified_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD FOREIGN KEY([brand_id])
REFERENCES [dbo].[brand] ([id])
GO
ALTER TABLE [dbo].[product_category]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[product_category]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[statistic]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
USE [master]
GO
